/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
img {
    max-width: 100%;
}

.conteiner {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
}

.flex-orizontal {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;

}


/* HEADER'S CLASSES */

/* JUMBOTRON */
.jumbotron {
    height: 60px;
    width: 100%;
    background-color: orangered;
    position: fixed;
    top: 0;
    z-index: 2;
    box-shadow: 3px 0 3px 3px rgba(0, 0, 0, 0.4);
}

/* GENDER LIST NAV */
.gender {
    height: 60px;
    display: inline-block;
    line-height: 60px;
    color: white;
}

header li {
    list-style-type: none;
}



header a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* LOGO IMAGE */

.logo {
    display: inline-block;
    text-align: center;
    vertical-align: 60px;
}

.flex-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 30%;
    margin: 0 auto;
    align-self: center;
}



/* NAV PROFILE */

.profile ul {
    line-height: 60px;
}


/* MAIN SECTION */

main {
    margin: 150px 0 200px;
   
}

img.secondary {
    display: none;
}


.col {
    width: calc((100% / 3) - (40px / 3));
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.card {
    position: relative;
}

/* LABELS */

.heart {
    background-color: white;
    font-size: 1.6rem;
    padding: 5px 10px;
    position: absolute;
    right: 0px;
    top: 30px;
}

.discount {
    color: white;
    background-color: red;
    padding: 3px 8px;
    position: relative;
    bottom: 80px;
}

.green {
    color: white;
    background-color: green;
    padding: 3px 8px;
    position: relative;
    bottom: 80px;
}

/* PRICES AND DESCIPTION LABELS */
.description {
    position: relative;
    bottom: 20px;
}


/* WEAR TITLE H2  */

.title {
    font-size: 1.4rem;
}

/* BRAND CLASS  */
/* probabilmente non è,ma a me sembra grigio */
.brand {
    font: 1.5rem;
    color: grey; 
}

/* NEW PRICE n-p  */

span.n-p {
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
}


/* OLD PRICE o-c */

span.o-p {
    font-size: 1.2rem;
    text-decoration: line-through;
}


/* MAGIC IMG */

.card:hover .secondary {
    display: block;
}

.card:hover .primary{
    display: none;
}



/* FOOTER  */
/* Ho pensato che l'unico H1 valido sarebbe stato questo */
footer h1 {
    font-size: 1.5rem;
}

footer * {
    text-decoration: none;
    color: white;
}

footer li {
    list-style-type: none;
}

footer {
    height: 120px;
    background-color: rgb(0, 0, 0);
}


.mainfooter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

.left-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.left-ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 0.7rem;
}

.right-ul {
    display: flex;
    justify-content:space-around;
    
}

.right-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}